doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="../../css/style.css")
        link(rel="stylesheet" href="../../narmalize.css")
    body 
    header.header
        div.header_div
            <img src="../../image/Vector (4).png" alt="rasm bor" />
            h2 Podcast
        div.header_div1
            <img src="../../image/Vector (5).png" alt="rasm bor" />
            <img src="../../image/Vector (6).png" alt="rasm bor" />
    hr
    main.main
        .main_loge 
            span.span 
                img(src="../../image/Vector (9).png" alt="")
                h3  Facebook
            span.span 
                a(href="#") Connected
        hr
        .main_loge 
            span.span 
                img(src="../../image/twitter.png" alt="")
                h3  Google
            span.span 
                a(href="#") Connected
        hr
        .main_loge 
            span.span 
                img(src="../../image/google.png" alt="")
                h3  Twitter
            span.span 
                a(href="#") Connect
        hr
        .main_loge 
            span.span 
                h4  Dark mode
            span.span 
                a(href="#") Dark mode
        hr
        .main_loge 
            span.span 
                h4 Toggle beta version
            span.span 
                a(href="#") 
                    img.img(src="../../image/Vector (10).png", alt="")
        hr
        .main_loge 
            span.span 
                h4 Disable image loading
            span.span 
                a(href="#") 
                    img.img(src="../../image/Vector (11).png", alt="")
        hr
        .main_loge 
            span.span 
                h4 Limit background data usage to wifi only
            span.span 
                a(href="#") 
                    img.img(src="../../image/Vector (11).png", alt="")
        hr
        .main_loge 
            span.span 
                h4 Push notification
        hr
        .main_loge 
            span.span 
                h4 Account
        hr
        .main_loge 
            span.span 
                h4 Email notification
        hr
        .main_loge 
            span.span 
                h4 Join our community
        hr
        .main_loge 
            span.span 
                h4 Sign out
        hr

